.title
  = t(:ffcrm_vend_settings, :default => "Vend Integration Settings")

.remote
  .section

    = form_tag 'ffcrm_vend', :method => :post do
      .label.top.req
        Vend ID:
        = text_field_tag 'vend_id', @vend_id, :size => 30
      %br

      .label.top.req
        Authenication token:
        = text_field_tag 'token', @token, :size => 30

      %br
        Use this token to authenticate incoming POST requests. <br/>
        The following urls will then be available as endpoints.  <br/>
        Note: if you have changed the token above, please save the page to regenerate the urls below.

      %br
      %ul
        %li{:style => 'list-style-type: disc; list-style-position: inside;'}
          Register Sale:
          =link_to vend_register_sale_url(:token => @token)
        %li{:style => 'list-style-type: disc; list-style-position: inside;'}
          Customer Update:
          =link_to vend_customer_update_url(:token => @token)

      %br
      .label.top.req
        Default user:
        - user_options = options_from_collection_for_select(all_users, 'id', 'full_name', @user_id)
        = select_tag('user_id', options_for_select(user_options), :class => 'chzn-select', :style => "width:160px")
      %br
        This is the default user for actions that occur via webhooks.
        Not all webhooks provide 'user' information, in those cases, this user will own the operation.
        It is recommended you create a Fat Free CRM user purely for this purpose.

      %br
      .label.top.req
        Sale prefix:
        = text_field_tag 'sale_prefix', @sale_prefix, :size => 50
      %br
        This prefix forms part of the opportunity name when a sale is created.
        Example: if the prefix is "My Sale" then sales opportunities named "My Sale 15"
        will be created (where 15 is the Vend sales number). If blank, the default is "Vend Sale"

      %br
      %br
      = submit_tag 'Update', :name => :update, :style => "width:60px"
