.title
  = t(:ffcrm_vend_settings, :default => "Vend Integration Settings")

.remote
  .section

    = form_tag 'ffcrm_vend', :method => :put do
      .label.top.req
        Vend ID:
        = text_field_tag 'vend_id', @config.vend_id, :size => 30
      %br

      .label.top.req
        Authenication token:
        = text_field_tag 'token', @token, :size => 30

      %br
        Use this token to authenticate incoming POST requests. <br/>
        The following urls will then be available as endpoints.  <br/>
        Note: if you have changed the token above, please save the page to regenerate the urls below.

      %br
      %ul
        %li{:style => 'list-style-type: disc; list-style-position: inside;'}
          Register Sale:
          =link_to vend_register_sale_url(:token => @token), vend_register_sale_url(:token => @token)
        %li{:style => 'list-style-type: disc; list-style-position: inside;'}
          Customer Update:
          =link_to vend_customer_update_url(:token => @token), vend_customer_update_url(:token => @token)

      %br
      .label.top.req
        Default user:
        - user_options = options_from_collection_for_select(all_users, 'id', 'full_name', @config.user_id)
        = select_tag('user_id', options_for_select(user_options), :class => 'chzn-select', :style => "width:160px")
      %br
        This is the default user for actions that occur via webhooks.
        Not all webhooks provide 'user' information, in those cases, this user will own the operation.
        It is recommended you create a Fat Free CRM user purely for this purpose.

      %br
      .label.top.req
        Sale prefix:
        = text_field_tag 'sale_prefix', @config.sale_prefix, :size => 50
      %br
        This prefix forms part of the opportunity name when a sale is created.
        Example: if the prefix is "My Sale" then sales opportunities named "My Sale 15"
        will be created (where 15 is the Vend sales number). If blank, the default is "Vend Sale"

      %br
      .label.top.req
        Customer exclusion list:
      %br
        Any customer names listed here will not create sales in the CRM. This is useful if you have generic
        customers that you don't want sales to be marked against. Use the full name of the customer.
        Each name must go on a separate line.
      %br
        = text_area_tag 'exclude_customers', @config.exclude_customers_string, :size => "25x10"

      %br
      = check_box_tag 'use_logger', '1', @config.use_logger?
      .label.top.req
        Turn on extra log information
      %br
        Turn this on if you want extra debug information outputted to the logs when incoming sales or customer updates are processed.

      %br
      %br
      = submit_tag 'Update', :name => :update, :style => "width:60px"
